@model MessageModel

<h1>Create new Message</h1>

<form asp-action="CreatePost" method="post">

    <label asp-for="Text"></label>
    <br />
    <input asp-for="Text"/>
    <br />
    <input type="submit"/>

</form>