@model MessageModel

<h1>Create new Message</h1>

<form asp-action="CreatePost" method="post">


    <label asp-for="Title"></label>
    <input asp-for="Title"/>
    <br /><br />
    <label asp-for="Text"></label>
    <input asp-for="Text"/>
    <br /><br />
    <input type="submit"/>

</form>